/* Button Styles */
.my-button {
  background-color: cadetblue;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
}

.my-button:hover {
  background-color: darkslategray;
}

/* Navigation Bar */
.nav-bar {
  display: flex;
  justify-content: left;
  align-items: left;
  gap: 10px;
  background-color: darkblue;
  padding: 20px;
  border-radius: 3px;
}

.menu-item {
  color: white;
  padding: 10px 20px;
  border: 1px solid orange;
  border-radius: 2px;
  text-decoration: none;
  font-family: sans-serif;
  transition: background-color 0.2s, color 0.2s;
}

.menu-item:hover {
  background-color: honeydew;
  color: black; /* Changed text color so it remains visible */
}